@()



<nav class="flex justify-between items-center px-4 py-2 shadow" >
    <h4 class="font-bold text-5xl" >Bookstore</h4>

    <ul class="flex items-center">
        <li>
            <a class="px-4 py-2 mx-2 rounded border" href="@routes.BooksController.index()">books</a>
        </li>


        <li>
            <a class="px-4 py-2 mx-2 rounded border" href="@routes.UserController.index()">users</a>
        </li>

        <li>
            <a class="px-4 py-2 mx-2 rounded border" href="@routes.AuthController.login()">login</a>
        </li>


    </ul>
</nav>