@import play.mvc.Http.RequestHeader
@import helper._
@(requestHeader: RequestHeader, bookForm : Form[Book])
@layout.main("create book"){

    <section class="py-5">
        <h3 class="text-xl font-bold mb-4">create book</h3>
        <form method="post" action="@routes.BooksController.store" class="w-[50vw] mx-auto shadow p-10">
            @CSRF.formField(javaRequestHeader2ScalaRequestHeader(requestHeader))
            <div class="mb-4">
                <label class="capitalize mb-2 block font-thin" >book title</label>
                <input class="outline-none block w-full border rounded py-2 px-3 " type="text" name="title" placeholder="book title" />
                @if(bookForm.error("title").isPresent){
                    @utils.form_error(bookForm.error("title").get().message().replace("error.",""))
                }
            </div>

            <div class="mb-4">
                <label class="capitalize mb-2 block font-thin" >book image url</label>
                <input class="outline-none block w-full border rounded py-2 px-3 " type="text" name="thumbnail" placeholder="thumbnail url" />
                @if(bookForm.error("thumbnail").isPresent){
                    @utils.form_error(bookForm.error("thumbnail").get().message().replace("error.",""))
                }
            </div>

            <button type="submit" class="px-4 py-2 rounded border" >Save</button>
        </form>
    </section>




}