@(books : List[Book])
@layout.main("all books"){

    <section class="py-5">
        <h3 class="text-xl font-bold">All Books</h3>

        @if(books.length < 1){
            <p class="py-2 text-center font-light ">No books at the moment</p>
        }

        @if(books.length > 0){
            <div class="container">

                <table class="text-left w-full">
                    <thead class="bg-black flex text-white w-full rounded shadow">
                        <tr class="flex w-full mb-4">
                            <th class="p-4 w-1/4">Index</th>
                            <th class="p-4 w-1/4">Book title</th>
                            <th class="p-4 w-1/4">Book image</th>
                        </tr>
                    </thead>
                    <tbody class="bg-grey-light flex flex-col items-center justify-between overflow-y-scroll w-full" style="height: 50vh;">


                        @for(book <- books){
                            <tr class="flex w-full  border-b-2">
                                <td class="p-4 w-[33%]">
                                    <a href="@routes.BooksController.show(book.id)" >@book.id</a>
                                </td>
                                <td class="p-4 w-[33%]"> @book.title</td>
                                <td class="p-4 w-[33%]">
                                    <div class="h-[5vw] rounded overflow-hidden" style="aspect-ratio: 1/1">
                                        <img src="@book.thumbnail" class="h-full w-full object-cover" >
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>


        }



    </section>


}