@(book : Book)
@layout.main("Show book"){
    <div class="p-5 shadow rounded">
        <h3 class="text-3xl font-light mb james">Book details</h3>
        <div class="max-w-sm w-full lg:max-w-full lg:flex">
            <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background: url('@book.thumbnail') center center/cover" title="@book.title">
            </div>
            <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                <div class="mb-8">
                    <div class="text-gray-900 font-bold text-xl mb-2">@book.title</div>
                    <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
                </div>
                <div class="flex items-center gap-4">
                    <a href="@routes.BooksController.edit(book.id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>

                    <a href="@routes.BooksController.delete(book.id)" class="bg-yellow-700 hover:bg-yellow-900 text-white font-bold py-2 px-4 rounded">Delete</a>
                </div>
            </div>
        </div>
    </div>

}